version: '3'

services:
  app:
    image: webrtc
    build: .
    ports:
      - 3000:3000
    volumes:
      - ./pages:/app/pages
      - ./public:/app/public
      - ./styles:/app/styles
      - ./hooks:/app/hooks
      - ./img:/app/img