/* Chat App CSS */
.chat {
  display:block;
  flex-direction: column;
  flex: 1;
  background-color: #e2e2e2;
  height: 100vh;

}

.chat_window {
  height: 85%;
  overflow-y: scroll ;
}


.message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_content { 
  padding: 0px 17px 0px;
  margin: 10px 0px;
}

.message_container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
  margin: 0px 20px 0px 0px;
} 

.send_button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#7c8aff,#3c4fe0);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}

.each_text {
  padding-left: 10px;
}

.id_text {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(29, 28, 28);
  margin-bottom: 0px;
  padding-left: 5px;
  font-size: 12px;
  margin-left: 90%;
}
.id_text1 {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(29, 28, 28);
  margin-bottom: 0px;
  padding-left: 5px;
  font-size: 12px;
}

.communication {
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:fit-content ;
  height: auto;
  min-height: 40px;
  max-width: 100%;
  background-color: #218aff;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: right;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 11px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 12px;
  padding-left: 10px;
  float: right;
}
.communication1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:fit-content;
  height: auto;
  min-height: 40px;
  max-width: 100%;
  background-color: #fdfdfd;
  border-radius: 5px;
  color: rgb(41, 41, 41);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 11px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-top: 3px;
  font-size: 12px;
  padding-left: 10px;
}

#you {
  justify-content: flex-start;
}

#you .communication {
  justify-content: flex-start;
}

#other {
  justify-content: flex-end;
}

#other .communication {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

.room {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
}

/*  */

.index_container {
  
  background-image: url("../img/main/backk.jpg");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
}

.image_container {
  
  background-image: url("../img/main/logo.png");
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  font-size:small;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1rem;
  
  
}

.heading{
padding: 1rem;
color: #355E3B;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 15px;
height: 2%;
margin-top: -.5cm;
width: 100%;

}

.searchbar{
  color: rgb(58, 58, 58);
  font-family: 'Arial';
  font-size: medium;
  font-weight: bolder;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.643);
  padding:1%;
  width: 25%;
  height: -10px;
  margin-top: .5cm;
  margin-bottom:.5cm;
  }

.main {
  color: #355E3B;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  min-height: 60vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center top 50px;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}


.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.index{
  background-color: #abc0ca;
  background-image: url("../img/main/backk.jpg");
  min-height: 100vh;
  width: 1300px;
}

.mainbox{
  width:fit-content;
  padding: 1%;
  overflow:hidden;
  margin-left: 20%;
  margin-bottom: 5px;
  
  
}

.left{
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5%;
  width: 400px;
  float: left;
  }

.right{
  border-radius: 5%;
  width: 400px;
  margin-top: 50px;
  margin-left: 10px;
}


.fancybutton {
  
  background-color: #002afd;
  border-radius: 100px;
  box-shadow: rgba(44, 118, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(201, 211, 56);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fancybutton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



.button {
  background-color: rgba(61, 61, 220, 0.628);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}


.redbutton {
  background-color: red;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.redbutton:hover,
.redbutton:focus {
  background-color: #F082AC;
}

.buttonsection{
  margin-left: 44%;
}

